<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <meta name='txtweb-appkey' content='90806567-f143-477f-b0a1-c1bb4b6f2cad' />

  </head>
  <body>
    Send @goatrans &lt;Source&gt; to &lt;Destination&gt; [aft &lt;time&gt;] [bef &lt;time&gt;]<br>
    E.g. @goatrans Old Goa to Ponda aft 09:00pm bef 09:30pm 
  </body>
</html>