<div data-role="page" id="trips" data-title="Trip options">
    <div data-role="header" data-theme="a">
		   <h1><a href="#two" data-role="button"><img src="a3.png" width="10px"></a>
		   <a href="#map" data-role="button"><img src="a4.png" width="10px" height="15px"></a></h1>
	</div><!-- /header -->

    <div data-role="content">	
		     <div id="directions" style="width: 100%"></div>	
		     <a href="#map">See on map</a>
	</div><!-- /content -->

	<div data-role="footer">
		<!--<h4>Page Footer</h4>-->
	</div><!-- /footer -->
</div><!-- /page -->