<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="adminApp">
  <head>
    <title><%= title %></title>
	
	<script src="javascripts/bower_components/jquery/dist/jquery.min.js"></script>
	
	
	<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization&sensor=false&language=en&v=3.14"></script>
	<script src="javascripts/ContextMenu.js"></script>
	
	<script src="javascripts/bower_components/angular/angular.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
		<!-- <script src="javascripts/bower_components/underscore/underscore.js"></script> -->

<script src="javascripts/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	
	<script src="javascripts/RouteController.js"></script>
	
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/map.css' /> 
	<link rel='stylesheet' href='/stylesheets/context_menu.css' />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">

  </head>
  <body ng-controller="RouteController">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	
	<div id="map" class="google-map"
		events="map.events"
		zoom="fleetDetail.zoom"
		center="fleetDetail.center"
         draggable="true"
         bounds="fleetDetail.bounds"
         pan="true"
		 control="map.control"
        >
			<script>
			$(function(){
	var scope = angular.element($('#map')).scope();
	scope.configMap();
	});
	</script>
	
		<window show="map.infoWindow.show" coords="map.infoWindow.coords" isIconVisibleOnClick="false" options="map.infoWindow.options"  ng-cloak>
            <div >
				{{test}}
                <p>Adding stop at {{ stopDetail.latitude | number:4 }}, {{ stopDetail.longitude | number:4 }}</p>
				<form name="stop_form" ng-controller="StopController" ng-submit="saveStop()" novalidate>
					<input type="text" name="stopName" ng-model="stopDetail.stopName" />
					<br/>
					<textarea ng-model="stopDetail.address"></textarea>
					<br/>
					<button type="submit" ng-disabled="stop_form.$invalid">Save</button>
					<!--<button ng-click="saveStop()">Save</button>-->
				</form>	
				
            </div>
        </window>
		<!--<markers models="fleetDetail.stops" coords="'{latitude:self.lat, longitude:self.lon}'" icon="'images/bus.png'" click="'onClicked'">-->
		<markers models="fleetDetail.stops" coords="'self'" icon="'/images/bus.png'" click="'onClicked'">
        </markers>
	</div>	
	<input type="text" name="stopName1" ng-model="stopDetail.stopName" />
	<button ng-click="remove()">Remove</button>
	

  </body>
</html>