<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <meta name='txtweb-appkey' content='90806567-f143-477f-b0a1-c1bb4b6f2cad' />

  </head>
  <body>
    Send @bus &lt;Source&gt; to &lt;Destination&gt;<br> 
    E.g. @bus margao to panjim
  </body>
</html>