<form role="form" ng-controller="SearchTripFormController">
				<div class="form-group">
					 <label for="lblSource">Source</label><input type="text" placeholder="Please enter your source" class="form-control" id="SourceStop">
				</div>
				<div class="form-group">
					 <label for="lblDestination">Destination</label><input type="text" placeholder="Please enter your destination" class="form-control" id="DestinationStop">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile">
					<p class="help-block">
						Example block-level help text here.
					</p>
				</div>
				<div class="checkbox">
					 <label><input type="checkbox"> Check me out</label>
				</div> <button type="submit" class="btn btn-success btn-default">Submit</button>
			</form> 